### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Build Artifacts ###
# Maven
/target/
pom.xml.tag
pom.xml.next
pom.xml.bak
release.properties
release-versions.properties

# Gradle
.gradle/
/build/

### Operating System ###
.DS_Store
Thumbs.db

### Specific Project Files ###
Caixa.jar
sistemacaixa.tar